section {
  background-color: #c4c4c4;
  width: 1100px;
  height: 660px;
  margin: 0 auto;
  padding: 50px;
}

div {
  background-color: #e6e6e6;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

span {
  background: #fc8f8f;
}

.float1 {
  float: left;
  width: 200px;
  height: 200px;
}

.block1 .float2 {
  float: right;
  width: 200px;
  height: 200px;
}

.block2 .float2 {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 15px;
}

.block2 .float3 {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 15px;
}

.block2 .float4 {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 15px;
}

.block2 .float5 {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 15px;
}

.block3 .float2 {
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 15px;
}

.block3 .float3 {
  float: right;
  width: 200px;
  height: 200px;
}

.block3 .float4 {
  float: right;
  width: 200px;
  height: 200px;
  margin-right: 15px;
}
